.container {
    background-color: rgb(60,60,51);
    padding: 10px;
    font-size: 1.5rem;
    flex-wrap:wrap;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3 {
    background-color: blue;
}
@media only screen and (max-width:700px){
    .box1{
        background: aliceblue;
        font: size 2rem;
    }
}